body{
    background-color: rgb(175, 131, 78);
    color: blanchedalmond;
}

section{
    background: rgb(224, 192, 133) ;
    padding-top: 60px ;
    padding-bottom: 60px;
    display: flex; /* torna flexivel = poe um do lado do outro */
    justify-content: center;
}

chamada-texto{
    margin-right: 200px ;
}