body{
    background-color: rgb(78, 175, 91);
    color: blanchedalmond;
}

section{
    background: rgb(20, 97, 52) ;
    padding-top: 60px ;
    padding-bottom: 60px;
    display: flex; /* torna flexivel = poe um do lado do outro */
    justify-content: center;
}

.chamada-texto{
    margin-right: 200px ;
}